@model IEnumerable<Microsoft.Graph.DriveItem>

@{ ViewBag.Title = "Files"; }

<h2>Files</h2>

@section scripts {
    <script type="text/javascript">
  $(function () {
      // Validate file size < 4 MB
      // We're using the "simple upload" method of
      // uploading files to OneDrive, which is limited
      // to 4MB.
      // See http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/item_uploadcontent
      $('#file-form').submit(function () {
          var fourMB = 4 * 1024 * 1024;
          var fileInput = $('#file');
          if (fileInput.get(0).files[0].size > fourMB) {
              alert('Maximum file size is 4 MB.');
              return false;
          }
      });
  });
    </script>
}

<div class="row" style="margin-top:50px;">
    <div class="col-sm-12">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }
        <div class="panel panel-default">
            <div class="panel-body">
                <form id="file-form" class="form-inline" action="/Groups/AddFile" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" size="50" accept=".txt" class="form-control btn btn-default" name="file" id="file" />
                    </div>
                    <input type="hidden" name="groupId" value="@Request.Params["groupId"]" />
                    <button type="submit" class="btn btn-default">Add File</button>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table id="filesTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created On</th>
                        <th>Last Modified By</th>
                        <th>Last Modified On</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model)
                    {
                        <tr>
                            <td>
                                @file.Name
                            </td>
                            <td>
                                @file.CreatedDateTime
                            </td>
                            <td>
                                @file.LastModifiedBy.User.DisplayName
                            </td>
                            <td>
                                @file.LastModifiedDateTime
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="btn btn-group-sm">
            @{
                Dictionary<string, object> attributes = new Dictionary<string, object>();
                attributes.Add("class", "btn btn-default");

                if (null != ViewBag.NextLink)
                {
                    RouteValueDictionary routeValues = new RouteValueDictionary();
                    routeValues.Add("nextLink", ViewBag.NextLink);
                    @Html.ActionLink("Next Page", "Files", "Groups", routeValues, attributes);
                }
            }
        </div>
    </div>
</div>