@model IEnumerable<Microsoft.Graph.Group>

@{ ViewBag.Title = "Groups"; }

<h2>Groups</h2>

<div class="row" style="margin-top:50px;">
    <div class="col-sm-12">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline" action="/Groups/CreateGroup" method="post">
                    <div class="form-group">
                        <label for="groupName">Name</label>
                        <input type="text" class="form-control" name="groupName" id="groupName" placeholder="New Group" />
                    </div>
                    <div class="form-group">
                        <label for="groupAlias">Email alias</label>
                        <input type="text" class="form-control" name="groupAlias" id="groupAlias" placeholder="e.g. mygroup" />
                    </div>
                    <button type="submit" class="btn btn-default">Create Group</button>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table id="groupsTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Email address</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model)
                    {
                        <tr>
                            <td>
                                @{
                                    RouteValueDictionary idVal = new RouteValueDictionary();
                                    idVal.Add("groupId", group.Id);
                                    @Html.ActionLink(group.DisplayName, "Detail", idVal);
                                }
                            </td>
                            <td>
                                @group.Description
                            </td>
                            <td>
                                @group.Mail
                            </td>
                        </tr>
                                    }
                </tbody>
            </table>
        </div>
        <div class="btn btn-group-sm">
            @{
                Dictionary<string, object> attributes = new Dictionary<string, object>();
                attributes.Add("class", "btn btn-default");

                if (null != ViewBag.NextLink)
                {
                    RouteValueDictionary routeValues = new RouteValueDictionary();
                    routeValues.Add("nextLink", ViewBag.NextLink);
                    @Html.ActionLink("Next Page", "Index", "Groups", routeValues, attributes);
                }
            }
        </div>
    </div>
</div>